.site-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $brand__dark;
  color: white;
  display: flex;
  text-align: center;
  font-size: .7em;
  @include for-tablet-landscape-up {
    font-size: .85em;
  }
  p {
    margin: 0;
    opacity: .7;
  }
  &__copyright {

  }
}

p.footer_paid {
  border: 1px solid;
  padding: 3px 8px;
}