.site-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $brand__dark;
  color: white;
  display: flex;
  text-align: center;
  font-size: .7em;

  @include for-tablet-landscape-up {
    font-size: .85em;
  }

  p {
    margin: 0;
    opacity: .7;
  }

  p#footerBox {
    margin: 3px 0;
    padding: 5px;
    border: 1px solid;
  }

  &__copyright {

  }

}

p.footer_paid {
  border: 1px solid;
  padding: 3px 8px;
}