.site-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $brand__gray;
  color: white;
  display: flex;
  text-align: center;
  p {
    margin: 0;
    opacity: .7;
  }
  &__copyright {

  }
}