.site-header {
  $self: &;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, .8);
  position: relative;
  z-index: 100;

  .container {
    @include flexbox-base;
  }

  #{$self}__primary {
    @include for-tablet-portrait-up {
      max-width: 25%;
    }
  }

  #{$self}__secondary {
    @include flexbox-base;
    @include for-tablet-portrait-up {
      justify-content: flex-end;
      max-width: 75%;
    }
  }

  a {
    display: block;
  }

  #{$self}__logo {
    $height: 100px;

    max-width: 200px;
    margin: 10px auto;
    height: $height;
    line-height: $height;
    @include for-tablet-portrait-up {
      margin: 0;
    }
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }

  #{$self}__logo-text {
    text-align: center;
    margin: 0;
  }

  #{$self}__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include for-tablet-portrait-up {
      justify-content: flex-end;
    }
    #{$self}__button {
      margin-left: .5em;
      margin-right: .5em;
      @include for-tablet-portrait-up {
        margin-left: 1em;
        margin-right: 0;
      }
      &.button__primary {
        @include for-phone-only {
          @include screen-reader-text;
        }
      }
    }
  }
  #{$self}__navigation {
    ul {
      display: flex;
      flex-wrap: wrap;
      @include for-tablet-portrait-up {
        justify-content: flex-end;
      }
      li {
        @include for-phone-only {
          flex: 1 100%;
        }
        display: inline-block;
        @include for-tablet-portrait-up {
          flex: initial;
          text-align: right;
        }
      }
    }
  }
}