button#menuMobileButton {
  margin-top: 15px;
  //background: white;
  //border-color: white;
  //color: $brand__blue;
  @include for-tablet-portrait-up {
    display: none;
  }
}

#menuPrimary {
  @media screen and (max-width: 599px) {
    //display: none;
    transition: height ease-in-out 500ms;
    height: 0;
    overflow: hidden;
  }
}

#menuPrimary[aria-expanded="true"] {
  //display: none;
  //transition: all 400ms;
  height: auto;
}
@media screen and (max-width: 599px) {
nav#menuPrimary {
    background: $brand__blue;
    border: 1px solid white;
    visibility: hidden;

    ul#menu-primary-navigation {
      padding: 0 25px;
      transition: all 400ms;

      li.menu-item {
        border-bottom: 1px solid white;
        padding: 8px;
        text-align: left;
      }

    }

  }

  nav#menuPrimary[aria-expanded="true"] {
    visibility: visible;
  }

}

