.page {
  $base: &;
  #{$base}__inner {
    padding: 2em;
    max-width: 500px;
    margin: auto auto 2em;
    background: white;
    @include for-phone-only {
      max-width: 325px;
    }
    @include for-tablet-landscape-up {
      padding: 2em 3em;
      max-width: 900px;
    }
  }
}

.wpforms-field-container {
  input, textarea {
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}

div.wpforms-container-full .wpforms-form button[type=submit] {
  clear: both;
  background-color: #aaa;
  border: 0 none;
  border-radius: 4px;
  transition: all 0.23s ease-in-out 0s;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;

  &:hover {
    background: #777;
  }

}