## Misc
.DS_Store
.idea
.env
debug.log
/local-phpinfo.php
/.htaccess
/.fw-config.php


## Composer
/vendor

## NPM
node_modules

## Docker Stuff
.data
.opt
opt

## WordPress Stuff
/wp-content/uploads/*
/wp-content/plugins/*
/wp-content/themes/*
/wp-content/mu-plugins/*

!/wp-content/themes/candidate
!/wp-content/mu-plugins/_candidate-core
!/wp-content/mu-plugins/must-use-plugin-loader.php

/core
/wp-content/index.php
/wp-config.php
/wp-activate.php
/wp-cron.php
/wp-config-sample.php
/wp-comments-post.php
/index.php
/wp-load.php
/wp-links-opml.php
/wp-login.php
/license.txt
/wp-settings.php
/wp-blog-header.php
/wp-mail.php
/xmlrpc.php
/wp-signup.php
/wp-trackback.php
/readme.html
/wp-includes
/wp-admin
/wp-content/debug.log

