@mixin button {
  $button_color: $brand-color__primary;
  background-color: $button_color;
  text-transform: uppercase;
  color: white;
  margin: auto;
  transition: 400ms ease all;
  border-radius: 3px;
  line-height: 1em;
  padding: .5em 1.2em;
  position: relative;
  border: 3px solid;
  border-color: $button_color;
  letter-spacing: 2px;
  font-size: 1em;
  &:focus,
  &:hover {
    color: white;
    cursor: pointer;
    opacity: .9;
  }
}