@mixin font-primary {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: 400;
}

@mixin font-secondary {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}