@mixin screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  word-wrap: normal !important;
}

@mixin screen-reader-text-reverse {
  border: initial;
  clip: initial;
  -webkit-clip-path: initial;
  clip-path: initial;
  height: auto;
  margin: initial;
  overflow: initial;
  padding: initial;
  position: initial;
  word-wrap: initial !important;
}