.donation {
  $base: &;

  .container {
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    @include for-tablet-landscape-up {
      justify-content: center;
      padding: 0;
    }
    > * {
      flex: 1 100%;
      max-width: 100%;
      @include for-tablet-landscape-up {
        flex: 1 50%;
        max-width: 50%;
      }
    }
  }

  h3 {
    text-transform: uppercase;
  }

  button {
    margin-bottom: 5px;
  }

  #{$base}__secondary {
    text-align: center;
  }
}