.hero {
  $self: &;
  background-color: black;
  position: relative;
  color: white;
  padding-bottom: 250px;
  .container {
    position: relative;
    z-index: 2;
    @include flexbox-base;
    justify-content: center;
    align-items: flex-end;
    min-height: 300px;
    @include for-tablet-portrait-up {
      min-height: 400px;
    }
  }
  #{$self}__cta {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    @include for-desktop-up {
      margin-right: 0;
    }
    h2 {
      text-align: center;
      @include for-tablet-portrait-up {
        font-size: 2.5em;
        margin-top: 0;
        margin-bottom: 15px;
      }
    }
  }
  .background-image {
    opacity: .7;
  }
  #{$self}__icons {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    svg {
      width: 30px;
      height: 30px;
      fill: white;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
