.cta-global {
  $base: &;
  color: white;
  text-align: center;
  #{$base}__buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
  }
  #{$base}__inner {
    p {
      max-width: 600px;
      margin: 0 auto;
    }
  }
}