.feature {
  $base: &;
  background-color: $brand-color__secondary;
  color: white;
  padding-top: 0;
  padding-bottom: 0;

  .container {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    width: 100%;
    @include flexbox-base;

    > * {

      @include for-tablet-landscape-up {
        @include flexbox-width(50%);
        order: 1;
      }

    }

  }

  #{$base}__content {
    padding: 50px 15px;
    @include flexbox-base;
    justify-content: center;
    align-items: center;

    article {
      max-width: 500px;
    }

    h3 {
      margin-top: 0;
    }

  }

  #{$base}__image {

    img {
      width: 100%;

      @include for-tablet-landscape-up {
        height: 100%;
        object-fit: cover;
      }

    }

  }

  &.background-color__primary {

    #{$base}__image {

      @include for-tablet-landscape-up {
        order: 1;
      }

    }

  }

  &.background-color__secondary {

    #{$base}__image {

      @include for-tablet-landscape-up {
        order: 2;
      }

    }

  }

}