// Sass utilities
// @import 'util/util';

// colors
// $color-yellow: #FDB913;
$brand__gray: #333333;
$brand__blue: #002d40;
$brand__red: #cc0000;
$brand__light: #f2f2f2;

$brand-color__primary: #333333;
$brand-color__secondary: $brand__blue;

// Fonts

// change row width
$container-width: 1000px;