// Sass utilities
// @import 'util/util';

// colors
// $color-yellow: #FDB913;
$brand__gray: #333333;
$brand__dark: #1d1d1d;
$brand__light: #f2f2f2;

$brand-color__primary: #333333;
$brand-color__secondary: #777777;

$input__border-radius: 3px;

// Fonts

// change row width
$container-width: 1000px;