.donations {
  background-color: $beige;
  padding-top: 0;
  h3 {
    margin-top: 0;
    margin-bottom: 25px;
    @include font-accent;
    text-transform: uppercase;
    color: $salmon;
    font-weight: 500;
    text-align: center;
  }
  article {
    padding: 2em;
    background-color: $off-white;
    @include font-accent;
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}