.hero {
  background-color: $gray-dark;
  color: $off-white;
  padding-top: 25px;
  padding-bottom: 120px;
}

.hero {
  .carousel-cell {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 2rem;
  }

  /* Fade CSS */

  .flickity-slider {
    transform: none !important;
  }

  .carousel-cell {
    left: 0 !important;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
  }

  .carousel-cell.is-selected {
    opacity: 1;
    z-index: 0
  }

  .carousel {
    .flickity-page-dots {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .dot {
        border-radius: 0;
        margin: 0;
        background: $beige;
        opacity: 1;
        flex: 1 auto;
        max-width: 49.5%;
        &.is-selected {
          background: $salmon;
        }
      }
    }
  }
}