.site-footer {
  background-color: $gray-light;
  color: $off-white;
  @include font-accent;
  h3, p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
  }
}